
.demob
{
	height: 100%;
	width: 100%;
}


.demob .banner{
	margin: auto;
	width: 100%;
        background-color: #6666ff;
        text-align: center;
        display: inline-block;
        font-family: Verdana;
        font-size: 20px;
        color: #FFFFCC;
        padding-top: 38px;
        padding-bottom: 38px;
	height: 20px;
}

.demob .walker{
	float: left;
}

.demob .walker-canvas
{
	height: 512px;
	width: 512px;
	border: 2px black solid;
	float: left;
}

.demob .walker-buttons
{

}

