
.demoa
{
	height: 100%;
	width: 100%;
}


.demoa > div
{
	text-align: center;
	margin: auto;
	border: 2px black solid;
}

.demoa > hmpCanvas
{
	height: 40%;
	width: 40%;
	border: 1px solid #000000;
}

.demoa > triCanvas
{
	height: 40%;
	width: 40%;
	border: 1px solid #000000;
}
