body
{
	background-color: #31314d;
}

.top-banner
{
	width: 100%;
	margin-top: -10px;
	margin-left: -10px;
	background-color: #9999FF;
	position: fixed;
}

.top-ul
{
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: center;
}

.top-li
{
	z-index: -1;
	display: inline-block;
	font-family: Verdana;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: -5px;
	color: #FFFFCC;
	padding-top: 38px;
	padding-bottom: 38px;
	background-color: #9999FF;
	transition: background-color 0.3s ease;
	cursor: pointer
}

.top-hover 
{
	background-color: #BBBBFF;
}

.container-left
{
	float: left;
	margin-top: 90px;
	margin-left: -10px;
	display: inline-block;
	width: 150px;
	background-color: #9999C3;
	height: 100vh;
}

.container-right
{
	position: absolute;
	float: left;
	margin-top: 90px;
	padding-left: 0px;
	padding-top: 0px;
	display: inline-block;
	top: 5px;
	right: 0;
	bottom: 0;
	left: 145px;
}

.left
{
	float: left;
	clear: left;
	display: block;
	width: 100%;
	background-color: #9999C3;
	transition: background-color 0.3s ease;
	margin-right: 10px;
	font-family: Verdana;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	color: #FFFFCC;
	cursor: pointer;
}

.left-hover
{
	background-color: #AAAAFF;	
}
