
.demoa
{
	height: 100%;
	width: 100%;
}


.demoa .top-banner{
	margin: auto;
	width: 100%;
        background-color: #6666ff;
        text-align: center;
        display: inline-block;
        font-family: Verdana;
        font-size: 20px;
        color: #FFFFCC;
        padding-top: 38px;
        padding-bottom: 38px;
	height: 20px;
}

.demoa .hmp{
	float: left;
}

.demoa .hmp-canvas
{
	height: 512px;
	width: 512px;
	border: 2px black solid;
	float: left;
}

.demoa .hmp-buttons
{

}

.demoa .tri{
	float: right;
}

.demoa .tri-canvas
{
	height: 512px;
	width: 512px;
	border: 2px black solid;
	float: left;
}

.demoa .tri-buttons
{

}
